
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            background-image: url('static/3/20240629154612.png'); /* 添加背景图片 */
            background-size: cover;
            background-attachment: fixed;
        }
        div{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div>删除成功</div>
    <a href="/stu_adm" style="position: absolute; top: 0; right: 0; padding: 10px; background-color: #5c6fed; color: #fff; border-radius: 5px;">返回</a>
</body>
</html>