<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
</head>
<body>
<!-- <h3>YR_T博客搜索</h3> 
<script>
function OnSearchBtnClicked() {
    var csdn_url = "https://blog.csdn.net/m0_64036070";
    var searchInput = document.getElementById('txt');
    var searchKey = searchInput.value;
    var bingurl="http://global.bing.com/search?q="+searchKey+"+site%3a" + csdn_url + "&qs=n&sp=-1&pq="+ searchKey +"&sc=8-0&sk=&setmkt=en-us&setlang=en-us&FORM=SECNEN";
    window.location.href=bingurl;
}
</script>
<input id="txt" type="text" name="txt" value="">
<button onclick="OnSearchBtnClicked()">搜索</button>
 
<form action="https://baidu.com/s" method="get">
    <div>
        <h3>百度搜索</h3>
         <input name="sousuo" id="search" value="">
    </div>
</form> -->
 
<h3>bilibili搜索</h3>
<form action="https://search.bilibili.com/all?" method="get" target="_blank">
			        <input id="bfind" type="text" name="keyword" />
			        <input type="submit"  value="搜索" />
</form>
 
</body>
</html>